.btn[data-v-71c169f6]{padding:.5rem 1rem;border-radius:.5rem;font-weight:600;transition:background-color .2s}.btn-primary[data-v-71c169f6]{background-color:#2563eb;color:#fff}.btn-primary[data-v-71c169f6]:hover{background-color:#1d4ed8}
